docker.enabled = true
docker.runOptions = '-u $(id -u):$(id -g)'

params {
    max_cpus   = 2
    max_memory = '6.5GB'
    max_time   = '2.h'
    igenomes_base = '/workspace/gitpod/training/data/refs/'

genomes {
        'GRCh38chr21' {
            fasta                 = "${params.igenomes_base}/sequence/Homo_sapiens_assembly38_chr21.fasta"
            fasta_fai             = "${params.igenomes_base}/sequence/Homo_sapiens_assembly38_chr21.fasta.fai"
            gff                   = "${params.igenomes_base}/gencode_v29_chr21_parsed_noversion.gff"
            transcript_fasta      = "${params.igenomes_base}/gencode.v29.transcripts_chr21.fa"
            salmon_index          = "${params.igenomes_base}/salmon_index_chr21.tar.gz"
        }
    }    
}